.events-page-container {
  display: flex;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 10rem;
}

.headingmyevents {
  text-align: center;
}
