.photo-container {
  display: flex;
  justify-content: space-evenly;
}

.quote-container {
  display: flex;
  justify-content: space-evenly;
}

.idea-container {
  display: flex;
  justify-content: space-evenly;
}

.activity-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 10rem;
}